<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadatos">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="LogicaContratoDatos.ServicioAlumnos" behaviorConfiguration="metadatos">
        <endpoint binding="basicHttpBinding" contract="LogicaContratoDatos.IContratoAlumno"/>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>